/* line 1, ../../sass/themes/flat.scss */
.easy-field {
  margin-bottom: 5px;
  display: inline-block; }
  /* line 5, ../../sass/themes/flat.scss */
  .easy-field.text {
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    border-radius: 6px;
    outline: none; }
    /* line 12, ../../sass/themes/flat.scss */
    .easy-field.text .placeholder {
      color: #ccc; }
  /* line 17, ../../sass/themes/flat.scss */
  .easy-field.select-one {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block; }
    /* line 24, ../../sass/themes/flat.scss */
    .easy-field.select-one:hover ul {
      display: block; }
    /* line 29, ../../sass/themes/flat.scss */
    .easy-field.select-one ul {
      margin-top: 10px;
      display: none; }
      /* line 33, ../../sass/themes/flat.scss */
      .easy-field.select-one ul li {
        padding-left: 10px;
        margin-bottom: 2px;
        cursor: pointer; }
        /* line 38, ../../sass/themes/flat.scss */
        .easy-field.select-one ul li:hover, .easy-field.select-one ul li.selected {
          background: #eee;
          border-radius: 6px; }
