// Compass
@import 'compass';
@import 'compass/reset';
@import 'grid';

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700); //font-family: 'Source Sans Pro', sans-serif;
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css); // Awsome Font Iconset

body {
    background: white;
    font: 14px/2 'Source Sans Pro', sans-serif;
    color: #333;
}