.theme-01 .select-one{
    border: 1px solid #ccc;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0,0,0.3) inset;
    border-radius: 4px;
    background: #ececec;
    border: 1px solid #999;
    padding: 4px;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #999;
}
.theme-01 .select-one ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.theme-01 .select-one li:first-child{
    display: none;
}
.theme-01 .select-one li.selected{
    background: #efefef
}
.theme-01 .select-one li{
    padding: 8px 12px;
    border-radius: 4px;
    border-top: 1px solid #fff;
    margin: 4px 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ccc
}
.theme-01 .select-one span{
padding: 8px 12px;
    display: block
}