.easy-field {
    margin-bottom: 5px;
    display: inline-block;

    &.text, &.textarea {
        padding: 10px;
        border: 1px solid #ccc;
        display: block;
        border-radius: 6px;
        outline: none;

        .placeholder {
            color: #ccc;
        }

        &:focus {
            border-color: #2980b9;
        }
    }

    &.text {
        white-space: nowrap;
        overflow: hidden;

        br {
            display: none;
        }

        * {
            display: inline;
            white-space: nowrap;
        }
    }


    &.textarea {
        height: 200px;
        overflow: auto;
    }

    &.select-one {
        position: relative;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        display: block;

        &:hover {
            ul {
                display: block;
            }
        }

        ul {
            margin-top: 7px;
            display: none;
            position: absolute;
            background: white;
            width: 100%;
            border: 1px solid #ccc;
            border-top: 0;
            margin-left: -11px;
            border-radius: 0px 0px 6px 6px;

            li {
                padding-left: 10px;
                margin: 10px;
                cursor: pointer;
                
                &:hover, &.selected {
                    color: white;
                    background: #3498db;
                    border-radius: 6px;
                }
            }
        }
    }

    &.radio {
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 100%;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: -5px;
        box-shadow: inset 0px 0px 1px 10px white;

        -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
             -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

        &.selected {
            background: #3498db;
            box-shadow: inset 0px 0px 1px 3px white;
        }
    }
}